.chart-body {
  position: relative;
  width: 140px;
  aspect-ratio: 1;
  display: inline-grid;
  place-content: center;

  .pie-chart {
    width: var(--width);
    // display: inline-grid;
    // aspect-ratio: 1;
    // place-content: center;
    position: relative;

    font-size: 16px;
    font-weight: bold;
    font-family: sans-serif;
  }
  .pie-chart,
  .animation {
    animation: draw-ani 1s .5s both;
  }
  .pie-chart::before,
  .pie-chart::after {
    content: "";
    position: absolute;
    border-radius: 50%;
  }
  .pie-chart::before {
    inset: 0;
    background:
      radial-gradient(farthest-side, var(--data-color) 98%, #0000) top/var(--bold) var(--bold) no-repeat,
      conic-gradient(var(--data-color) calc(var(--per) * 1%), #0000 0);
    -webkit-mask: radial-gradient(farthest-side, #0000 calc(99% - var(--bold)), #000 calc(100% - var(--bold)));
    mask: radial-gradient(farthest-side, #0000 calc(99% - var(--bold)), #000 calc(100% - var(--bold)));
  }
  .pie-chart::after {
    inset: calc(50% - var(--bold)/2);
    background: var(--data-color);
    transform: rotate(calc(var(--per)*3.6deg)) translateY(calc(50% - var(--width)/2));
  }
  
}

@property --per {
  syntax: '<number>';
  inherits: true;
  initial-value: 0;
}

@keyframes draw-ani {
  from {
    --per: 0
  }
}

.test::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  inset: 0;
  
}