.nav {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 184px;
  overflow-x: hidden;
  background-color: #fafbfc;
  row-gap: 16px;
  .top {
    padding: 16px;
  }
  .mid {
    display: flex;
    flex-direction: column;
  }
  .bot {
    padding: 16px;
    margin-top: auto;
  }
}